{% extends 'nav.html'%}
{% block home %}
	{%load static%}
	<div class="container-fluid" style="margin-top: 150px;">
		<div class="row">
			<div class="col-md-4"> </div>
			<div class="col-md-4">
				<div class="card shadow-lg border-dark">
					<div class="card-body ">
						<h3 class="card-title" style="text-align:center ;">About Us</h3>
						<p class="card-text">Our goal is to make Rental Management simple, easy-to-use and powerful web-based property management solution.It is designed to simplify the long-term rental process for landlords and tenants. It helps the landlords manage multiple properties . The landlords can invite the tenants through email , send rental reminders and it allows tenants to do online rental payment.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

		{%endblock%}