{% extends 'nav.html'%}
{% block home %}
	{%load static%}
	<div class="container-fluid" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-4"> </div>
			<div class="col-md-4">
				<div class="card shadow-lg border-dark">
					<div class="card-body ">
						<h3 class="card-title" style="text-align:center ;">FAQ's</h3>
						<h5 class="card-title">How do I get started?</h5>
						<p class="card-body">Just sign up and starting using the system. The system is free for the LANDLORD. Email us if you need any assistance
						</p>
						<h5 class="card-title">Can I access Rental Manager anytime anywhere? </h5>
						<p class="card-body">Anytime and anywhere means you can always access it anytime you want and where it’s convenient for you – at home, at the office, or on the road. All you need is an Internet connection and your username and password.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

		{%endblock%}