{% extends 'nav.html'%}
{% block home %}
	{% load static %}
	<div class="container-fluid" style="margin-top: 30px; background-color : "#81ecec" ">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6" style="text-align:center ; margin-top:200px;"  >
				
				<h1 style="color: white; text-shadow: 2px 2px 4px #000000;"> We make rent management easy</h1>
				
				<h5 style="color: white; text-shadow: 2px 2px 4px #000000;">All your data in one place, anywhere, anytime!</h5>
				
				<br>
				<a type="button" class="btn btn-light " href="/signup/">Sign Up</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}