{% extends 'owner_base.html'%}
{% block nav %}
	<h2 style="margin-top: 25px; margin-left: 25px;">Tenant Details</h2>
	{% for tenant in tenants %}
		<div class="card shadow-lg border-dark bg-light" style="width: 20rem; display: inline-block ;margin-top:20px; margin-left:30px">
			<div class="card-body">
				
				<h2 >Tenant Name:</h2><h3> {{tenant.user.username}} </h3>
				<!--<h2 class="card-title">{{tenant.user.username}}</h2>-->
				<h2>Property Name: </h2><h3>{{tenant.prop.name}}</h3>
				<!--<h2 class="card-title">{{tenant.prop.name}}</h2>-->
				
				
				
			</div>
		</div>
		
	{% endfor %}
{% endblock %}